@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif, "poppins";
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
}

.header {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.02);
  display: flex;
  gap: 150px;
  background-color: white;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  cursor: pointer;
}

.header-right {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.profile-box {
  gap: 10px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
}
.content-drop {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
  border: 2px solid rgb(243, 243, 243);
}
.content-drop > div {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(71 85 105);
}
.content-drop > div > svg {
  height: 25px;
  width: 25px;
}
.content-drop > div > a {
  color: rgb(71 85 105);
  text-decoration: none;
}
.content-drop > div:hover {
  background-color: rgb(241 245 249);
}
.pic {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.Cris {
  font-size: 14px;
  font-weight: bold;
}

.Sample {
  font-size: 12px;
  color: #555;
}

.down-arrow {
  height: 15px;
  width: auto;
  cursor: pointer;
  margin-left: 10px;
}

.bell {
  height: 25px;
  width: auto;
  cursor: pointer;
}

.header input {
  padding: 5px 50px 5px 10px;
  border-radius: 5px;
  border: 1px solid grey;
  height: 30px;
  width: 250px;
}

.aside {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.02);
  padding: 20px;
  position: relative;
  height: 100vh;
  width: 250px;
  background-color: white;
  position: sticky;
}

.aside ul {
  list-style-type: none;
}

.aside ul li {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
}
.aside ul li img {
  height: 20px;
  width: 20px;
}
.aside ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 10px;
}

.hero-contents {
  background-color: grey;
  border: transparent;
  display: flex;
  border-radius: 40px 0 0 0;
}

.hero-contents:hover {
  color: black;
  transition: color 0.3s ease;
}
.online-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.online-list {
  display: flex;
  gap: 5px;
}
.online-list > img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 100%;
}
.circle {
  background-color: rgb(141, 141, 255);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: rgb(46, 46, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-aside {
  display: flex;
  position: absolute;
  bottom: 30px;
  width: 90%;
  flex-direction: column;
}

.bottom-aside > div {
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  width: 90%;
  cursor: pointer;
  padding: 10px 5px;
}
.bottom-aside > div:hover {
  background-color: rgb(245, 245, 245);
}
.bottom-aside > div > img {
  height: 20px;
  width: 20px;
}

.bottom-aside > div > a {
  text-decoration: none;
  color: black;
}

.user-btn {
  transition: 0.5s all ease;
}

.user-btn a:hover,
.user-btn a.active {
  color: orangered;
}

.bottom-aside {
  transition: 0.5s all ease;
}

.bottom-aside a:hover,
.bottom-aside a.active {
  color: orangered;
}

.dropdown {
  display: inline-block;
}

.dropdown button {
  background-color: white;
  color: white;
  padding: 10px 15px;
  border: none;
}

.dropdown a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content {
  background-color: white;
  position: absolute;
  min-width: 100px;
  box-shadow: 2px;
}
.dropdown:hover .content {
  display: block;
}
.dropdown:hover button {
  background-color: white;
}
.dropdown a:hover {
  background-color: white;
}
.content {
  background-color: red;
  flex: 1;
  height: 100%;
}
.content-body {
  display: flex;
}

/* action */

 .top-books-container{
    flex-direction:column;
    position: absolute;
    padding: 10px;
    margin: 20px;
    box-shadow: 1px 5px #888;
    width: 1000px;
    border-radius: 8px;
    height: 250px;
    top: 40px;
    right: 150px;
    font-size: 10px;
    border: 1px solid black;
  }
  .top-books{
    margin-top: 1px;
    margin-bottom: 10000px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    position: inherit;
  }
  
  .top-books li{
    list-style: none;
    text-decoration: none;
  }
  
  
  .top-books li img{
    height: 165px;
    width: 160px;
    border: transparent;
    border-radius: 13px;
    transition: transform 0.3 ease, box-shadow .3s ease;
  }
  
  .top-books li img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0 0.3;
  }
  
  .top-books li h4{
    text-align: left;
    font-size: .9rem
  }
  
  .top-books li p{
    text-align: left;
    font-size: .8rem;
  }

  /* Adventure */

  .adventure{
    flex-direction: column;
    position: absolute;
    padding: 10px;
    margin: 20px;
    box-shadow: 1px 5px #888;
    width: 1000px;
    border-radius: 8px;
    height: 250px;
    top: 320px;
    right: 150px;
    font-size: 10px;
    border: 1px solid black;
  }
.adventure1{
  margin-top: 1px;
  margin-bottom: 1000px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  position: inherit;
}
.adventure1 li{
  list-style: none;
  text-decoration: none;
}
.adventure li img{
  height: 165px;
  width: 160px;
  border: transparent;
  border-radius: 13px;
  transition: transform 0.3 ease, box-shadow 0.3s ease;
}
.adventure li img:hover{
  transform: scale(1.1);
  box-shadow: 0 0 0 0.3;
}

.adventure li h4{
  text-align: left;
    font-size: .9rem
}
.adventure li p{
  text-align: left;
  font-size: .8rem;
}

/* Fantasy */

.fantasy-content{
  flex-direction: column;
  position: absolute;
  padding: 10px;
  margin: 20px;
  box-shadow: 1px 5px #888;
  width: 1000px;
  border-radius: 8px;
  height: 250px;
  top: 600px;
  right: 150px;
  font-size: 10px;
  border: 1px solid black;
}
.fantasy{
  margin-top: 1px;
  margin-bottom: 1000px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  position: inherit;
}
.fantasy li{
  list-style: none;
  text-decoration: none;
}
.fantasy li img{
  height: 165px;
  width: 160px;
  border: transparent;
  border-radius: 13px;
  transition: transform 0.3 ease, box-shadow 0.3s ease;
}
.fantasy li img:hover{
  transform: scale(1.1);
  box-shadow: 0 0 0 0.3;
}
.fantasy li h4{
  text-align: left;
    font-size: .9rem
}
.fantasy li p{
  text-align: left;
  font-size: .8rem;
}

